*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image:url("Fondodesitio.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:100vh;
}



.navbar{
    width:100%;
    background:#2e8b57;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:18px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.menu{
    display:flex;
    list-style:none;
    gap:20px;
}

.menu a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    padding:10px 15px;
    border-radius:5px;
    transition:0.3s;
}

.menu a:hover{
    background:#20b2aa;
}

.activo{
    background:#1e6f4f;
}



.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:85vh;
}

form{
    background:rgba(255,255,255,0.95);
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    width:450px;
}

h2{
    text-align:center;
    margin-bottom:25px;
    color:#2e8b57;
}

label{
    display:block;
    margin-bottom:8px;
    color:#333;
    font-weight:bold;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    background:#2e8b57;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    margin-top:10px;
    transition:0.3s;
}

button:hover{
    background:#20b2aa;
}

