* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
    background: url("imagen.png") center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
}


.btn-volver {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;

    padding: 10px 15px;
    background: linear-gradient(135deg, #4CAF50, #2196F3);
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;
    color: #000;

    cursor: pointer;
    border: none;

    transition: 0.3s;
}

.btn-volver:hover {
    background: #2196f3;
    color: white;
    transform: scale(1.05);
}

.banner-nosotros {
    height: 200px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 25px;
     background: rgba(255, 255, 255, 0.25);
    margin-top: 40px;
    background: rgba(255,255,255,0.2);
    display: flex;
     backdrop-filter: blur(12px);
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    color: #1565c0;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}
p{
    color: #000;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 20px;
}
/* Sección Nosotros */
.nosotros {
    padding: 60px 20px;
    color: white;
}

.contenedor {
    max-width: 1100px;
    margin: auto;
    
}

.contenedor h2 {
    font-size: 70px;
    margin-bottom: 20px;
    color:#1565c0;
}

.contenedor p {
    font-size: 25px;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #000;
}

/* Cards Misión, Visión, Valores */
.mvv {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    background: rgba(255, 255, 255, 0.25);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
    backdrop-filter: blur(6px);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.card h2 {
    font-size: 28px;
    margin-bottom: 15px;
      color:#1565c0;
}

.card p {
    font-size: 20px;
    line-height: 1.8;
    color: #000000;
}

footer {
    margin-top: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    text-align: center;
    padding: 15px;
}