*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    background-image:url("Fondodesitio.png");
    background-size: cover;
}

header{
    width: 100%;
    background-color: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border: 2px solid rgba(76,175,80,3);
}

.logo{
    cursor: pointer;
    transition: 0.3s;    
    height: 70px;      
    border-radius: 50%;  
    object-fit: cover;  
}


.logo:hover{
    transform: scale(1.05);
}

.login a{
    text-decoration: none;
    color: #222;
    font-weight: bold;
    transition: 0.3s;
}

.login a:hover{
    color: #0099ff;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}


nav{
    width: 90%;
    max-width: 1200px;
    background-color: rgba(111, 209, 241, 0.5);
    border-radius: 18px;
    padding: 22px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 8px 20px rgb(0,0,0,0);
    transition: 0.3s;
    border: 2px solid rgba(76,175,80,3);

}

nav:hover{
    transform: translateY(-2px);
}

button{
    text-decoration: none;
    color: #222;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
    border: none;
    outline: none;
    background: none;
}


button:hover{
    color: #0099ff;
}
.section{
    padding: 30px;
    background-color: rgba(42, 138, 170, 0.5);
    text-align: center;
    border: 1px solid rgba(76, 175, 80, 1);
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
footer{
    position:fixed;
    bottom:0;
    width:100%;

    background: rgba(255, 255, 255, 0.6);
    color: black;
    text-align:center;
    padding:15px;
}

